:root {
  --background-color: #F7F7FA;
  --text-color: #222;
  --movie-bg: #FFF;
  --input-bg: #FFF;
  --input-text: #222;
  --description-color: #666;
}

.dark {
  --background-color: #181818;
  --text-color: #FFF;
  --movie-bg: #333333;
  --input-bg: #222222;
  --input-text: #FFF;
  --description-color: #FFF;
}

.dark .movie {
  color: var(--text-color);
}

.dark .input-container {
  box-shadow: 0 2px 8px rgba(255,255,255,0.1);
}

.dark .movie {
  box-shadow: 0 4px 24px rgba(255, 255, 255, 0.1);
}

.dark .movie .movie-image img {
  box-shadow: 0 2px 8px rgba(255, 255, 255, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kumbh Sans', sans-serif;
}

body {
  max-width: 1260px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  background: var(--background-color);
  margin: 0 auto;
  transition: background 0.3s ease;
}

main {
  width: 100%;
}

h2 {
  color: var(--text-color);
  text-align: center;
  margin: 2rem 0;
  transition: color 0.3s ease;
}

.input-container {
  background-color: var(--input-bg);
  width: 50%;
  margin: 0 auto;
  margin-bottom: 2rem;
  display: flex;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.input-container input {
  padding: 0.5rem;
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  background-color: transparent;
  color: var(--input-text);
}

.input-container img {
  cursor: pointer;
}

.showOnlyFavorites {
  text-align: center;
  margin-bottom: 2rem;
  color: #444;
}

.movie {
  color: #222;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  background: var(--movie-bg);
  border-radius: 0.5rem; 
  padding: 1rem;
  margin: 0 auto;
  margin-bottom: 2rem;
  max-width: 1024px;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.07);
}

.movie .movie-image {
  width: 92px;
  height: 92px;
  margin-right: 1rem;
}

.movie .movie-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0%;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}

.movie-informations {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.movie-informations .movie-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.movie-informations .movie-text .rating-favorites {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.movie-informations .rating, .movie-informations .favorite {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.8rem;
}

.movie-informations .rating img {
  width: 16px;
}

.movie-informations .favorite img {
  cursor: pointer;
  transition: all .3s;
  width: 1.2rem;
}

.movie-informations .favorite img:hover {
  transform: scale(1.1);
}

.movie:nth-child(1) h4, .movie:nth-child(3) h4 {
  font-size: 1.2rem;
}

.movie-description {
  max-width: 50%;
  color: var(--description-color);
  font-weight: 400;
  font-size: 0.85rem;
  line-height: 1.5rem;
}
